@font-face {
    font-family: 'Crown Title';
    src: url('../fonts/crown-title.ttf');
}
@font-face {
    font-family: 'Celticmd';
    src: url('../fonts/celticmd.ttf');
}

body                            { background:url('../img/background.jpg') top center repeat-y lightgoldenrodyellow; }
div#container                   { width:100%; height:100%; background:url('../img/background-head.jpg') top center no-repeat; padding-top:100px; }
h1, h2, h3                      { font-family:Celticmd, Verdana; clear:both; text-transform:uppercase; font-weight:bold; }
.form-block                     { float:left; padding-bottom:1em; }

.container-fluid                { margin-bottom:30px; max-width:800px; margin-left:auto; margin-right:auto; }

label, input, select, textarea  { padding:5px; margin-right:5px; display:inline; float:left; }
label                           { margin-top:3px; }
input[type="checkbox"] + label,
input[type="radio"] + label     { font-weight:normal; }
input.small                     { width:50px; }
input.medium                    { width:100px; }
input.large                     { width:200px; }

.form-control, table.table      { width:auto; }

img#logo                        { margin-top:20px; }

/* player */
#player_fields .form-control    { width:100%; }
#player_fields .xp              { width:48%; float:left; }
#player_fields .xp.next_level   { margin-left:4%; }

/* character */
#character #name                { width:263px; }
#character_classes .sequence    { width:20px; padding-top:15px; }
#character_classes .favored     { width:80px; text-align: right; }
#character_classes .hitdie      { width:90px; }
#character_classes .hitdie label { margin-right:0; }
#character_classes input[type="checkbox"] { margin:0; }

#gender-container label         { margin-top:6px; }

/* attributes */
th.attribute-field              { width:60px; font-size:13px; }
table#attributes th.attribute-key { width:70px; padding-top:10px; }

/* modifier */
.modifier                       { position:relative; width:80px; margin:0; padding:1px; display:inline; line-height:2em; }
.modifier-type                  { width:100%; opacity:0.3; font-size:1.5em; font-weight:bold; }
.modifier-value                 { position:absolute; top:-0.25em; left:16px; z-index:2; font-size:2em; font-weight:bold; }
.str-color                      { color:darkblue; }
.dex-color                      { color:darkgreen; }
.con-color                      { color:darkred; }
.int-color                      { color:darkcyan; }
.wis-color                      { color:darkgrey; }
.cha-color                      { color:darkmagenta; }

/* alliance */
td#alliance-container           { vertical-align:middle; }
